In [1]:
import numpy as np
import pandas as pd

In [2]:
out_ind = ['T1','T1','T1','T2','T2','T2']
ins_ind = [1,2,3,1,2,3]
ind_hier = list(zip(out_ind,ins_ind))

In [3]:
ind_hier

[('T1', 1), ('T1', 2), ('T1', 3), ('T2', 1), ('T2', 2), ('T2', 3)]

In [4]:
mult_ind = pd.MultiIndex(levels=[['T1','T2'],[1,2,3]] ,codes=[[0,0,0,1,1,1],[0,1,2,0,1,2]]) #два уровня индекса

In [5]:
mult_ind_df = pd.DataFrame(np.random.randn(6,2),mult_ind,['X','Y'])

In [6]:
mult_ind_df

             X         Y
T1 1  1.043272  1.999493
   2  0.159488 -1.065847
   3  1.388841 -0.799565
T2 1 -1.710603 -2.234426
   2  0.022971 -0.956010
   3 -1.854157  0.225806

In [7]:
mult_ind_df.loc['T1']

          X         Y
1  1.043272  1.999493
2  0.159488 -1.065847
3  1.388841 -0.799565

In [8]:
mult_ind_df.loc['T1'].loc[2]

X    0.159488
Y   -1.065847
Name: 2, dtype: float64

In [9]:
mult_ind_df.loc['T1'].loc[2].loc['X']

0.15948756524994015

In [10]:
mult_ind_df.index.names

FrozenList([None, None])

In [11]:
mult_ind_df.index.names = ['Types','Numbers']

In [12]:
mult_ind_df

                      X         Y
Types Numbers
T1    1        1.043272  1.999493
      2        0.159488 -1.065847
      3        1.388841 -0.799565
T2    1       -1.710603 -2.234426
      2        0.022971 -0.956010
      3       -1.854157  0.225806

In [13]:
mult_ind_df.loc['T1'].loc[3]

X    1.388841
Y   -0.799565
Name: 3, dtype: float64

In [14]:
mult_ind_df.xs(2, level='Numbers') # все строки с индексом 2 в Numbers

              X         Y
Types
T1     0.159488 -1.065847
T2     0.022971 -0.956010