In [1]:
import numpy as np
import pandas as pd

In [3]:
letters = ['a','b','c']
numbers = [1,2,3]
np_arr = np.array(numbers)
dict = {'a':1,'b':2,'c':3}

In [4]:
numbers

[1, 2, 3]

In [5]:
letters

['a', 'b', 'c']

In [12]:
dict

{'a': 1, 'b': 2, 'c': 3}

In [9]:
pd.Series(data = numbers)

0    1
1    2
2    3
dtype: int64

In [10]:
pd.Series(data=numbers , index=letters)

a    1
b    2
c    3
dtype: int64

In [14]:
pd.Series(numbers,letters)

a    1
b    2
c    3
dtype: int64

In [17]:
pd.Series(np_arr)

0    1
1    2
2    3
dtype: int32

In [18]:
pd.Series(np_arr,letters)

a    1
b    2
c    3
dtype: int32

In [20]:
pd.Series(dict)

a    1
b    2
c    3
dtype: int64

In [23]:
life_long_average = pd.Series([84.7,84.5,83.7],['Hong Kong','Japan','Singapure'])

In [24]:
life_long_average

Hong Kong    84.7
Japan        84.5
Singapure    83.7
dtype: float64

In [25]:
life_long_average['Hong Kong']

84.7

In [26]:
life_long_average1= pd.Series([84.7,84.5,83.7],['Hong Kong','Japan','Singapure'])

In [27]:
life_long_average1

Hong Kong    84.7
Japan        84.5
Singapure    83.7
dtype: float64

In [28]:
life_long_average + life_long_average1

Hong Kong    169.4
Japan        169.0
Singapure    167.4
dtype: float64

Сумма из двух данных, если значения нет ключа то будет NAN

In [29]:
life_long_average['USA'] = 37

In [30]:
life_long_average + life_long_average1

Hong Kong    169.4
Japan        169.0
Singapure    167.4
USA            NaN
dtype: float64